{% extends 'base.html' %}

{% block main_content%}

<h1>{{ student.name }}</h1>

<div class="mt-4 mb-4 mr-5 ml-5">

</div>
<div class="mt-4 mb-4 mr-5 ml-5 w-50">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Дата Рождения</td>
        <td>{{ student.date_of_birth }}</td>
      </tr>
      <tr>
        <td>Адресс</td>
        <td>{{ student.address }}</td>
    </tr>
     <tr>
        <td>Почта</td>
        <td>{{ student.email }}</td>
    <tr>
        <td>Логин Скайп</td>
        <td>{{ student.skype }}</td>
    </tr>
     <tr>
        <td>Телефон</td>
        <td>{{ student.phone }}</td>
     </tr>
        <td>Курсы</td>
        <td>
{% for course in student.courses.all %}
          <p class="mt-1 mb-1"><a href="{% url 'courses:courses' course.id %}">{{ course.name }}</a></p>
{% endfor %}

        </td>
    <tr>
    </tbody>
  </table>
</div>

{% endblock main_content %}





