{% extends 'students/base_students.html' %}

{% block title %}Student course list{% endblock title %}


{% block table_name %}Весь Список студентов{% endblock table_name %}


{% block table_information %}


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">адресс</th>
        <th scope="col">Skype</th>
        <th scope="col">курсы</th>
      </tr>
    </thead>
    <tbody>
      <tr>
{% for studens in student_information %}
        <td class="align-middle"><a href="{% url 'students:students_id' studens.id %}">{{ studens }}</a></td>
        <td class="align-middle">{{ studens.surname }}</td>
        <td class="align-middle">{{ studens.address }}</td>
        <td class="align-middle">{{ studens.skype }}</td>
        <td>
          {% for course in studens.courses.all %}
          <p class="mt-1 mb-1"><a href="{% url 'courses:courses' course.id %}">{{ course.name }}</a></p>
          {% endfor %}
        <td>
      </tr>
      {% endfor %}
      <tr>
    </tbody>
  </table>
{% endblock table_information %}







