{% extends 'base.html' %}


{% block title %}Course page{% endblock title %}


{% block students_of_the_course %}{% url 'students:students_list_course_id' course.id %}{% endblock students_of_the_course %}


{% block main_content %}


{% include 'include/include_index.html' with block_title=course description=course.description|truncatechars:39 %}

<h1 class="mt-4 mb-4 mr-5 ml-5">Main Teacher</h1>


{% include 'include/instructor_include.html' with  position='Учитель' instructor_name=course.coach.first_name instructor_description=course.coach.description %}
{% include 'include/instructor_include.html' with  position='Ассистент' instructor_name=course.assistant.first_name instructor_description=course.assistant.description %}

<h1 class="mt-4 mb-4 mr-5 ml-5">План курса</h1>
<div class="mt-4 mb-4 mr-5 ml-5">
  <a href="{% url 'courses:add_lesson' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить Урок</a>
</div>
<div class="mt-4 mb-4 mr-5 ml-5">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Тема</th>
          <th scope="col">Описание</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
{% for lesson in lessons %}
          <td>{{ forloop.counter }}</td>
          <td>{{ lesson }}</td>
          <td>{{ lesson.description }}</td>
            <td>
              <a href="{% url 'courses:edit_lesson' lesson.id %}" class="btn btn-primary btn-sm active small" role="button" aria-pressed="true">Редактировать Урок</a>
          </td>
          <td>
              <a href="{% url 'courses:delete_lesson' lesson.id %}" class="btn btn-primary btn-sm active small" role="button" aria-pressed="true">Удалить Урок</a>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>

{% endblock main_content %}



