
{% extends 'base.html' %}

{% block title %}Main Page{% endblock title %}


{% block nav_class_active %}active{% endblock nav_class_active %}


{% block main_content %}


{% include  "include/include_index.html" with block_title="Кодинг от Иоана" description="Если Вы новичок в программировании, обратитесь за консультацией в службу поддержки или воспользуйтесь Картой специальностей, чтобы спланировать последовательное изучение программирования и сопутствующих технологий от простого к сложному. Учебный курс включает в себя: обучение в мини-группе в современной мультимедийной аудитории, предоставляется ноутбук, блокнот, ручка; материалы курса в электронном виде: краткий конспект каждого занятия, практические примеры, презентации;онлайн тестирование с целью проверки усвоения материала после каждого занятия и итоговое по всему курсу; сертификат о прохождении курса (в случае успешной сдачи финального теста)" %}


  <div class= "mt-4 mb-4 mr-5 ml-5">
    <h1>Information about courses</h1>
    <div>
      <a href="{% url 'courses:add_courses' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить Курс</a>
    </div>
  </div>
  <div class= "mt-4 mb-4 mr-5 ml-5">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Курс</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
{% for subjects in course %}
            <td>{{ forloop.counter }}</td>
            <td><a href="/courses/{{subjects.id}}">{{ subjects|upper }}</a></td>
            <td>{{ subjects.short_description|title }}</td>
            <td>
              <div>
                <a href="{% url 'courses:edit_courses' subjects.id %}" class="btn btn-primary btn-sm active small" role="button" aria-pressed="true">Редактировать</a>
              </div>
            </td>
            <td>
              <div>
                <a href="{% url 'courses:delete_courses' subjects.id %}" class="btn btn-primary btn-sm active small" role="button" aria-pressed="true">Удалить Курс</a>
              </div>
            </td>
          </tr>
          <tr>
{% endfor %}
        </tbody>
      </table>
</div>

{% endblock main_content %}

