{% extends 'base.html' %}

{% block main_content%}

<div class="mt-4 mb-4 mr-5 ml-5">
  <div>
{% for id_teacher in teacher %}
    <h1>{{ id_teacher.first_name }}</h1>
  </div>
  <div class="w-50">
    <table class="table">
        <tbody>
          <tr>
            <td>Дата Рождения</td>
            <td>{{ id_teacher.date_of_birth|date:"d F o" }}</td>
          </tr>
          <tr>
            <td>Адресс</td>
            <td>{{ id_teacher.address }}</td>
        </tr>
         <tr>
           <td>Почта</td>
           <td>{{ id_teacher.email }}</td>
        <tr>
          <td>Логин Скайп</td>
          <td>{{ id_teacher.skype }}</td>
        </tr>
         <tr>
           <td>Телефон</td>
           <td>{{ id_teacher.phone }}</td>
{% endfor%}
         </tr>
{% for id_coach in coach %}
          <td>Курсы учитель</td>
          <td>
            <ol class="breadcrumb bg-white pt-0 pb-0 pl-0 pr-0 mt-0 mb-0 ml-0 mr-0">
              <li class="breadcrumb-item"><a href="/courses/{{ id_coach.id }}">{{ id_coach }}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'students:students_list_course_id' id_coach.id %}">Cтуденты курса</a></li>
            </ol>
          </td>
        {% endfor %}
         </tr>
          <td>Курсы асистент </td>
          <td>
{% for id_assistant in assistant %}
            <ol class="breadcrumb bg-white pt-0 pb-0 pl-0 pr-0 mt-0 mb-0 ml-0 mr-0">
              <li class="breadcrumb-item"><a href="/courses/{{ id_assistant.id }}">{{ id_assistant }}</a></li>
              <li class="breadcrumb-item active" aria-current="page"> <a href="{% url 'students:students_list_course_id' id_assistant.id %}">Cтуденты курса</a></li>
            </ol>
{% endfor %}
          </td>
        <tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock main_content%}





